{% extends 'base.html' %}

{% block body %}
<div class="playerOne">
    <p>Player One</p>
    <ul>
        <li>
            Castle: 
        </li>
        <li>
            Food: 
        </li>
        <li>
            Stone: 
        </li>
        <li>
            Villagers:
        </li>
        <li>
            Warriors:
        </li>
    </ul>
</div>
<div class="playerTwo">
    <ul>
        <li>
            Castle: 
        </li>
        <li>
            Food: 
        </li>
        <li>
            Stone: 
        </li>
        <li>
            Villagers:
        </li>
        <li>
            Warriors:
        </li>
    </ul>
</div>
<div class="actions">
    <button>Build</button>
    <button>Gather</button>
    <button>Attack</button>
    <button>Recruit</button>
</div>
{% endblock %}